*{
    margin:0;
    padding:0; 
    font-family: Segoe UI;
    box-sizing: border-box;
}

body{
    padding-top:65px;
    color:black;
    background:white;
    text-align:center;
}

nav{
    top:0;
    background:orange;
    width:100%;
    position:fixed;
}

nav ul{
    justify-content:center;
    list-style:none;
    gap:20px;
    display:flex;
}

nav a{
    text-decoration:none;
    font-weight:bold;
    color:white;
}

.table{
    margin:18px auto;
    border: 4px solid gray;
    border-collapse: collapse;
    width:50%;
}

.table th{
    background-color:orange;
    color:white;
    padding:10px;
}

.table th,
.table td{
    border: 1px solid black;
    padding:10px;
}

.table img{
    height:100px;
    width:100px;
    object-fit: cover;
}

#ourmenu{
    margin-top:60px;
}

#contactForm{
    margin-top:60px;
}


.banner img {
    width:90%;
  height: 450px ;
    object-fit: cover;
    top:0;
    }

.button {
    border: none;
    background: transparent;
    cursor: pointer;
}


.sauces-table{
    margin:18px auto;
    width:50%;
    border-collapse: collapse;
}

.sauces-table td{
    padding:10px;
    border:1px solid black;
    font-size:18px;
    background:white;
}


.extra-table {
    width: 50%;        
    margin: 20px auto;   
    border-collapse: collapse;
    text-align: center;
    position:center;
}

.extra-table th,
.extra-table td {
    border: 1px solid #333;
    padding: 8px 12px;
}

section,
table {
    margin-bottom: 40px;   
}

.sauces-table tr:nth-child(odd){
    background: #fff7e6; 
}

.sauces-table tr:nth-child(even){
    background: #ffe7c2;
}


}
